<ion-view>
  <ion-nav-title>แผนที่</ion-nav-title>
  <ion-nav-buttons side="left">
    <a ng-click="btnBack()" class="button back-button buttons button-clear header-item nav-back-btn">
      <i class="ion-android-arrow-back"></i>
    </a>
  </ion-nav-buttons>
  <ion-content>
    <div id="map" style="height: 100vw; position: relative;"></div>
    <!-- <center><a class="md-raised social-button md-button md-default-theme material-background" ng-click="btnStart()" style="margin-top: 20px;">ออกเดินทาง</a></center> -->
    <!-- <center><a class="md-raised social-button md-button md-default-theme material-background" ng-click="btnStop()">หยุดเดินทาง</a></center> -->
  </ion-content>
</ion-view>
