<ion-view hide-nav-bar="false">
  <ion-nav-title>รายละเอียดการชำระเงิน</ion-nav-title>
  <ion-nav-buttons side="left">
    <a ng-click="btnBack()" class="button back-button buttons button-clear header-item nav-back-btn">
      <i class="ion-android-arrow-back"></i>
    </a>
  </ion-nav-buttons>
  <ion-content id="social-sign-up-content">
    <div style="margin-top: 20px; margin-left: 10px; margin-right: 10px; border: 3px solid #3F51B5; border-radius: 5px;">
      <p style="margin-top: 15px; margin-left: 15px; font-weight: bold; font-size: 18px; color: #666; text-decoration: underline;">สถานะการจองรถตู้</p>
      <p style="margin-left: 15px; font-weight: bold; font-size: 14px; color: #666;">หมายเลขการจอง : {{bookingDetail.booking_id}}</p>
      <p style="margin-left: 15px; font-weight: bold; font-size: 14px; color: #666;">ยอดชำระทั้งหมด : {{bookingDetail.booking_price}} บาท</p>

      <p style="margin-left: 15px; font-weight: bold; font-size: 14px; color: #666;" ng-if="bookingDetail.queue_payment_flag == 1">ชื่อบัญชี : บจ. สมาร์ท ออนไลน์</p>
      <p style="margin-left: 15px; font-weight: bold; font-size: 14px; color: #666;" ng-if="bookingDetail.queue_payment_flag == 1">ธนาคาร : ธนาคารกรุงไทย</p>
      <p style="margin-left: 15px; font-weight: bold; font-size: 14px; color: #666;" ng-if="bookingDetail.queue_payment_flag == 1">หมายเลขบัญชี : 816-0-47869-0</p>

      <p style="margin-left: 15px; font-weight: bold; font-size: 14px; color: #666;" ng-if="bookingDetail.queue_payment_flag == 0">ชื่อบัญชี : {{bookingDetail.queue_bank_owner}}</p>
      <p style="margin-left: 15px; font-weight: bold; font-size: 14px; color: #666;" ng-if="bookingDetail.queue_payment_flag == 0">ธนาคาร : {{bookingDetail.queue_bank}}</p>
      <p style="margin-left: 15px; font-weight: bold; font-size: 14px; color: #666;" ng-if="bookingDetail.queue_payment_flag == 0">หมายเลขบัญชี : {{bookingDetail.queue_bank_no}}</p>
    </div>
    <div>
      <a class="md-raised social-button md-button md-default-theme material-background" ng-click="btnPayment(bookingID)" style="margin-top: 20px; margin-left: 0px;">ไปยังหน้าแจ้งชำระเงิน</a>
    </div>
  </ion-content>
</ion-view>
