<ion-view hide-nav-bar="false">
  <ion-nav-title>จองรถตู้</ion-nav-title>
  <ion-content id="social-sign-up-content">
    <div style="text-align: center; margin-top: 20px; font-weight: bold; font-size: 16px; color: #666;">* กรุณาจองรถตู้ก่อนเดินทาง 2 ชั่วโมง</div>
    <md-select ng-model="originProvinceValue" aria-label="md-option" style="margin-left: 10px; padding: 10px 2px 26px; margin-top: 20px;">
      <md-option value="selectOriginProvince" ng-click="setOriginProviceValue('selectOriginProvince')">
        เลือกจังหวัดต้นทาง *
      </md-option>
      <md-option value="{{originProvince.PROVINCE_ID}}" ng-repeat="originProvince in originProvinceArrayList" ng-click="getOriginDistrict(originProvince.PROVINCE_ID)">
        {{originProvince.PROVINCE_NAME}}
      </md-option>
    </md-select>
    <md-select ng-model="originDistrictValue" aria-label="md-option" style="margin-left: 10px; padding: 10px 2px 26px; width: 300%;">
      <md-option value="selectOriginDistrict" ng-click="setOriginDistrictValue('selectOriginDistrict')">
        เลือกอำเภอต้นทาง *
      </md-option>
      <md-option value="{{originDistrict.AMPHUR_ID}}" ng-repeat="originDistrict in originDistrictArrayList" ng-click="setOriginDistrict(originDistrict.AMPHUR_ID)">
        {{originDistrict.AMPHUR_NAME}}
      </md-option>
    </md-select>
    <md-select ng-model="destinationProvinceValue" aria-label="md-option" style="margin-left: 10px; padding: 10px 2px 26px;">
      <md-option value="selectDestinationProvince" ng-click="setDestinationProvinceValue('selectDestinationProvince')">
        เลือกจังหวัดปลายทาง *
      </md-option>
      <md-option value="{{destinationProvince.PROVINCE_ID}}" ng-repeat="destinationProvince in destinationProvinceArrayList" ng-click="getDestinationDistrict(destinationProvince.PROVINCE_ID)">
        {{destinationProvince.PROVINCE_NAME}}
      </md-option>
    </md-select>
    <md-select ng-model="destinationDistrictValue" aria-label="md-option" style="margin-left: 10px; padding: 10px 2px 26px;">
      <md-option value="selectDestinationDistrict" ng-click="setDestinationDistrictValue('selectDestinationDistrict')">
        เลือกอำเภอปลายทาง *
      </md-option>
      <md-option value="{{destinationDistrict.AMPHUR_ID}}" ng-repeat="destinationDistrict in destinationDistrictArrayList" ng-click="getQueueList(destinationDistrict.AMPHUR_ID)">
        {{destinationDistrict.AMPHUR_NAME}}
      </md-option>
    </md-select>
    <md-select ng-model="queueValue" aria-label="md-option" style="margin-left: 10px; padding: 10px 2px 26px;"
      ng-if="originProvinceValue != 'selectOriginProvince' && originDistrictValue != 'selectOriginDistrict' && destinationProvinceValue != 'selectDestinationProvince' && destinationDistrictValue != 'selectDestinationDistrict'">
      <md-option value="selectQueue" ng-click="setQueueValue('selectQueue')">
        เลือกคิวรถตู้ *
      </md-option>
      <md-option value="{{queue.queue_id}}" ng-repeat="queue in queueArrayList" ng-click="getPointList(queue.queue_id)">
        {{queue.queue_name}}
      </md-option>
    </md-select>
    <md-select ng-model="getInValue" aria-label="md-option" style="margin-left: 10px; padding: 10px 2px 26px;" ng-if="queueValue != 'selectQueue'">
      <md-option value="selectGetIn" ng-click="setGetInValue('selectGetIn')">
        เลือกจุดขึ้นรถตู้ *
      </md-option>
      <md-option value="1" ng-click="setGetIn(1)">
        ขึ้นที่คิวรถตู้
      </md-option>
      <md-option value="2" ng-click="setGetIn(2)">
        ขึ้นระหว่างทาง
      </md-option>
      <md-option value="3" ng-click="setGetIn(3)">
        ขึ้นจุดอื่นๆ
      </md-option>
    </md-select>
    <md-select ng-model="getInPlaceValue" aria-label="md-option" style="margin-left: 10px; padding: 10px 2px 26px;" ng-if="getInValue == 2">
      <md-option value="selectGetInPlace" ng-click="setGetInPlaceValue('selectGetInPlace')">
        เลือกสถานที่ขึ้นรถตู้ *
      </md-option>
      <md-option value="{{getIn.getin_id}}" ng-repeat="getIn in getInArrayList" ng-click="setGetInPlace(getIn.getin_id)">
        {{getIn.getin_name}}
      </md-option>
    </md-select>
    <md-input-container md-no-float="" ng-if="getInValue == 3">
      <div>
        <input class="user-name" ng-model="booking.getinplace" placeholder="สถานที่ขึ้นรถตู้ *" style="width: 284px;">
      </div>
    </md-input-container>
    <md-select ng-model="stopValue" aria-label="md-option" style="margin-left: 10px; padding: 10px 2px 26px;" ng-if="queueValue != 'selectQueue'">
      <md-option value="selectStop" ng-click="setStopValue('selectStop')">
        เลือกจุดลงรถตู้ *
      </md-option>
      <md-option value="{{point.point_id}}" ng-repeat="point in pointArrayList" ng-click="getPrice(point.point_id)">
        {{point.point_name}}
      </md-option>
    </md-select>
    <md-input-container md-no-float="" ng-if="queueValue != 'selectQueue'">
      <div>
        <input class="user-name" placeholder="วันขึ้นรถตู้ *" style="width: 300px;" ng-model="booking.date" ng-click="openDatePickerStart()">
      </div>
    </md-input-container>
    <md-input-container md-no-float="" ng-if="queueValue != 'selectQueue'">
      <div>
        <input class="user-name" placeholder="เวลาขึ้นรถตู้ *" style="width: 300px;" ng-model="booking.time" ng-click="openTimePickerStart()">
      </div>
    </md-input-container>
    <div style="text-align: center; margin-top: 20px; margin-left: 20px; margin-right: 20px; border: 3px solid #3F51B5;" ng-if="stopValue != 'selectStop'">
      <p style="margin-top: 15px; font-weight: bold; font-size: 16px; color: #666;">ค่าบริการรถตู้ : {{bookingDetail.point_price}} บาท</p>
      <p style="font-weight: bold; font-size: 16px; color: #666;" ng-if="bookingDetail.fee == 0">ค่าธรรมเนียมการจอง : ฟรี</p>
      <p style="font-weight: bold; font-size: 16px; color: #666;" ng-if="bookingDetail.fee != 0">ค่าธรรมเนียมการจอง : {{bookingDetail.fee}} บาท</p>
      <p style="font-weight: bold; font-size: 16px; color: #666;">ยอดชำระทั้งหมด : {{bookingDetail.total_price}} บาท</p>
    </div>
    <div>
      <a class="md-raised social-button md-button md-default-theme material-background" ng-click="btnBooking()" ng-if="stopValue != 'selectStop'" style="margin-top: 20px; margin-bottom: 20px;">ยืนยันการจองรถตู้</a>
    </div>
  </ion-content>
</ion-view>
