<ion-side-menus enable-menu-with-back-views="true">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-balanced  material-background-nav-bar">
      <ion-nav-buttons side="left">
        <a class="button button-icon button-clear ion-navicon" menu-toggle="left" ng-click="toggleLeft()"></a>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>
  <md-sidenav md-component-id="left" on-swipe-left="closeSideNav()" on-drag-left="closeSideNav()">
    <div class="material-background" id="toggle-menu-left-header">
      <div class="menu-left-header">
        <img class="user-img" src="http://1did.net/rodtoo/img/img_profile/{{memberDetail.member_username}}.jpg?random={{randomNumber}}">
        <p>
          <span class="title">{{memberDetail.member_username}}</span>
          <br/>
          <span class="sub-title">{{memberDetail.member_firstname}} {{memberDetail.member_lastname}}</span>
        </p>
      </div>
    </div>
    <ion-content id="toggle-menu-left-content">
      <!--If device is android application will present below code.-->
      <!--It will disable animation to better performance on android.-->
      <!--list section-->
      <div ng-if="isAndroid" class="menu-list">
        <!-- <md-subheader class="md-warn">Themes</md-subheader> -->
        <div class="row menu-item" ng-click="navigateTo('loginvan.vanprofile')">
          <div class="col-33">
            <i class="fas fa-list"></i>
          </div>
          <div class="col-66">
            <span>โปรไฟล์</span>
          </div>
        </div>
        <div class="row menu-item" ng-click="navigateTo('loginvan.van')">
          <div class="col-33">
            <i class="fas fa-list"></i>
          </div>
          <div class="col-66">
            <span>รถตู้</span>
          </div>
        </div>
        <div class="row menu-item" ng-click="navigateTo('loginvan.vanbookinglist')">
          <div class="col-33">
            <i class="fas fa-list"></i>
          </div>
          <div class="col-66">
            <span>รายการจองรถตู้</span>
          </div>
        </div>
        <!-- <div class="row menu-item" ng-click="navigateTo('loginown.ownbookinglist')">
          <div class="col-33">
            <i class="fas fa-list"></i>
          </div>
          <div class="col-66">
            <span>รายการจองรถตู้ที่ชำระเงินแล้ว</span>
          </div>
        </div>
        <div class="row menu-item" ng-click="navigateTo('loginown.ownpaymentlist')">
          <div class="col-33">
            <i class="fas fa-list"></i>
          </div>
          <div class="col-66">
            <span>รายการแจ้งชำระเงิน</span>
          </div>
        </div>
        <div class="row menu-item" ng-click="navigateTo('loginown.ownvanlist')">
          <div class="col-33">
            <i class="fas fa-list"></i>
          </div>
          <div class="col-66">
            <span>รายการข้อมูลรถตู้</span>
          </div>
        </div>
        <div class="row menu-item" ng-click="navigateTo('loginown.owngetinlist')">
          <div class="col-33">
            <i class="fas fa-list"></i>
          </div>
          <div class="col-66">
            <span>รายการจุดขึ้นรถตู้</span>
          </div>
        </div>
        <div class="row menu-item" ng-click="navigateTo('loginown.ownpointlist')">
          <div class="col-33">
            <i class="fas fa-list"></i>
          </div>
          <div class="col-66">
            <span>รายการจุดลงรถตู้</span>
          </div>
        </div> -->
        <div class="row menu-item" ng-click="btnLogout()">
          <div class="col-33">
            <i class="fas fa-sign-out-alt"></i>
          </div>
          <div class="col-66">
            <span>ออกจากระบบ</span>
          </div>
        </div>
      </div>

      <!--If device is not Android application will present below code.-->
      <!--It will show animation when selecting row.-->
      <md-list ng-if="!isAndroid">
        <!-- <md-subheader class="md-warn">Application Storage</md-subheader> -->
        <md-list-item class="menu-list-item" ng-click="navigateTo('loginvan.vanprofile')">
          <i class="fas fa-list"></i>
          <span>โปรไฟล์</span>
        </md-list-item>
        <md-list-item class="menu-list-item" ng-click="navigateTo('loginvan.van')">
          <i class="fas fa-list"></i>
          <span>รถตู้</span>
        </md-list-item>
        <md-list-item class="menu-list-item" ng-click="navigateTo('loginvan.vanbookinglist')">
          <i class="fas fa-list"></i>
          <span>รายการจองรถตู้</span>
        </md-list-item>
        <!-- <md-list-item class="menu-list-item" ng-click="navigateTo('loginown.ownbookinglist')">
          <i class="fas fa-list"></i>
          <span>รายการจองรถตู้ที่ชำระเงินแล้ว</span>
        </md-list-item>
        <md-list-item class="menu-list-item" ng-click="navigateTo('loginown.ownpaymentlist')">
          <i class="fas fa-list"></i>
          <span>รายการแจ้งชำระเงิน</span>
        </md-list-item>
        <md-list-item class="menu-list-item" ng-click="navigateTo('loginown.ownvanlist')">
          <i class="fas fa-list"></i>
          <span>รายการข้อมูลรถตู้</span>
        </md-list-item>
        <md-list-item class="menu-list-item" ng-click="navigateTo('loginown.owngetinlist')">
          <i class="fas fa-list"></i>
          <span>รายการจุดขึ้นรถตู้</span>
        </md-list-item>
        <md-list-item class="menu-list-item" ng-click="navigateTo('loginown.ownpointlist')">
          <i class="fas fa-list"></i>
          <span>รายการจุดลงรถตู้</span>
        </md-list-item> -->
        <md-list-item class="menu-list-item" ng-click="btnLogout()">
          <i class="fas fa-sign-out-alt"></i>
          <span>ออกจากระบบ</span>
        </md-list-item>
      </md-list>
    </ion-content>
  </md-sidenav>
</ion-side-menus>
