<ion-side-menus enable-menu-with-back-views="true">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-balanced  material-background-nav-bar">
      <ion-nav-buttons side="left">
        <a class="button button-icon button-clear ion-navicon" menu-toggle="left" ng-click="toggleLeft()"></a>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>
  <md-sidenav md-component-id="left" on-swipe-left="closeSideNav()" on-drag-left="closeSideNav()">
    <div class="material-background" id="toggle-menu-left-header">
      <div class="menu-left-header">
        <img class="user-img" src="img/app_icon.png">
        <p>
          <span class="title">Rodtoo</span>
          <br/>
          <span class="sub-title">แอปพลิเคชันจองรถตู้</span>
        </p>
      </div>
    </div>
    <ion-content id="toggle-menu-left-content">
      <!--If device is android application will present below code.-->
      <!--It will disable animation to better performance on android.-->
      <!--list section-->
      <div ng-if="isAndroid" class="menu-list">
        <md-subheader class="md-warn">เมนู</md-subheader>
        <div class="row menu-item" ng-click="navigateTo('notlogin.login')">
          <div class="col-33">
            <i class="fas fa-sign-in-alt"></i>
          </div>
          <div class="col-66">
            <span>เข้าสู่ระบบ</span>
          </div>
        </div>
        <div class="row menu-item" ng-click="navigateTo('notlogin.signup')">
          <div class="col-33">
            <i class="fa fa fa-registered"></i>
          </div>
          <div class="col-66">
            <span>สมัครสมาชิก</span>
          </div>
        </div>
        <div class="row menu-item" ng-click="navigateTo('notlogin.map')">
          <div class="col-33">
            <i class="fas fa-search-location"></i>
          </div>
          <div class="col-66">
            <span>ติดตามการฝากของ</span>
          </div>
        </div>
      </div>

      <!--If device is not Android application will present below code.-->
      <!--It will show animation when selecting row.-->
      <md-list ng-if="!isAndroid">
        <md-subheader class="md-warn">เมนู</md-subheader>
        <md-list-item class="menu-list-item" ng-click="navigateTo('notlogin.login')">
          <i class="fas fa-sign-in-alt"></i>
          <span>เข้าสู่ระบบ</span>
        </md-list-item>
        <md-list-item class="menu-list-item" ng-click="navigateTo('notlogin.signup')">
          <i class="fa fa fa-registered"></i>
          <span>สมัครสมาชิก</span>
        </md-list-item>
        <md-list-item class="menu-list-item" ng-click="navigateTo('notlogin.map')">
          <i class="fas fa-search-location"></i>
          <span>ติดตามการฝากของ</span>
        </md-list-item>
      </md-list>
    </ion-content>
  </md-sidenav>
</ion-side-menus>
