<ion-view id="online-course" hide-nav-bar="false">
  <ion-nav-title>รายการจองรถตู้ที่ชำระเงินแล้ว</ion-nav-title>
  <ion-content id="online-course-content">
    <div style="text-align: center; margin-top: 20px; font-weight: bold; font-size: 16px; color: #666;" ng-if="ownBookingArrayList == null">ไม่พบรายการจองรถตู้</div>
    <div class="course-list" style="margin-top: 0px;">
      <div class="course-item" ng-repeat="ownBooking in ownBookingArrayList">
        <div class="title ionic-course-background" style="background-color: #3F51B5 !important">
          หมายเลขการจองรถตู้ : {{ownBooking.booking_id}}
        </div>
        <div class="content">
          <p style="margin-top: 10px; padding: 0px 10px 0px 10px;" ng-if="ownBooking.booking_status == 1">สถานะการจองรถตู้ : <text style="color: red;">ยังไม่แจ้งชำระเงิน</text></p>
          <p style="margin-top: 10px; padding: 0px 10px 0px 10px;" ng-if="ownBooking.booking_status == 2">สถานะการจองรถตู้ : <text style="color: orange;">แจ้งชำระเงิน</text></p>
          <p style="margin-top: 10px; padding: 0px 10px 0px 10px;" ng-if="ownBooking.booking_status == 3">สถานะการจองรถตู้ : <text style="color: green;">ยืนยันการชำระเงิน</text></p>

          <p style="padding: 0px 10px 0px 10px;" ng-if="ownBooking.booking_van_id != 0">สถานะการเลือกรถตู้ : <text style="color: green;">เลือกรถตู้แล้ว</text></p>
          <p style="padding: 0px 10px 0px 10px;" ng-if="ownBooking.booking_van_id == 0">สถานะการเลือกรถตู้ : <text style="color: red;">ยังไม่มีการเลือกรถตู้</text></p>
          
          <p style="padding: 0px 10px 0px 10px;">วันเวลาเดินทาง : {{ownBooking.booking_boarding_date}} {{ownBooking.booking_boarding_time}}</p>

          <p style="padding: 5px 10px 0px 10px;">
            <a href="" class="md-raised md-button md-default-theme angular-course-background" style="background-color: #3F51B5 !important" ng-click="getInfomation(ownBooking.booking_id)">
              <i class="fas fa-info-circle"></i> รายละเอียดการจอง
            </a>
            <a href="" class="md-raised md-button md-default-theme angular-course-background" style="background-color: #3F51B5 !important" ng-click="assignVan(ownBooking.booking_id)" ng-if="ownBooking.booking_van_id == 0">
              <i class="fas fa-shuttle-van"></i> เลือกรถตู้
            </a>
          </p>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
