<ion-view id="online-course" hide-nav-bar="false">
  <ion-nav-title>หมายเลขการจองรถตู้ : {{bookingDetail.booking_id}}</ion-nav-title>
  <ion-nav-buttons side="left">
    <a ng-click="btnBack()" class="button back-button buttons button-clear header-item nav-back-btn">
      <i class="ion-android-arrow-back"></i>
    </a>
  </ion-nav-buttons>
  <ion-content id="online-course-content">
    <div style="margin-top: 20px; margin-left: 10px; margin-right: 10px; border: 3px solid #3F51B5; border-radius: 5px;">
      <p style="margin-top: 15px; margin-left: 15px; font-weight: bold; font-size: 18px; color: #666; text-decoration: underline;">สถานะการจองรถตู้</p>
      <p style="margin-left: 15px; font-weight: bold; font-size: 14px; color: #666;" ng-if="bookingDetail.booking_status == 1">สถานะการจองรถตู้ : <text style="color: red;">ยังไม่แจ้งชำระเงิน</text></p>
      <p style="margin-left: 15px; font-weight: bold; font-size: 14px; color: #666;" ng-if="bookingDetail.booking_status == 2">สถานะการจองรถตู้ : <text style="color: orange;">แจ้งชำระเงิน</text></p>
      <p style="margin-left: 15px; font-weight: bold; font-size: 14px; color: #666;" ng-if="bookingDetail.booking_status == 3">สถานะการจองรถตู้ : <text style="color: green;">ยืนยันการชำระเงิน</text></p>
      <p style="margin-left: 15px; font-weight: bold; font-size: 14px; color: #666;" ng-if="bookingDetail.booking_status == 3 && bookingDetail.booking_van_id != 0">สถานะการเลือกรถตู้ : <text style="color: green;">เลือกรถตู้แล้ว</text></p>
      <p style="margin-left: 15px; font-weight: bold; font-size: 14px; color: #666;" ng-if="bookingDetail.booking_status == 3 && bookingDetail.booking_van_id == 0">สถานะการเลือกรถตู้ : <text style="color: red;">ยังไม่มีการเลือกรถตู้</text></p>
    </div>
    <div style="margin-top: 20px; margin-left: 10px; margin-right: 10px; border: 3px solid #3F51B5; border-radius: 5px;">
      <p style="margin-top: 15px; margin-left: 15px; font-weight: bold; font-size: 18px; color: #666; text-decoration: underline;">ข้อมูลการจองรถตู้</p>
      <p style="margin-left: 15px; font-weight: bold; font-size: 14px; color: #666;">ค่าบริการรถตู้ : {{bookingDetail.point_price}} บาท</p>
      <p style="margin-left: 15px; font-weight: bold; font-size: 14px; color: #666;">จำนวนที่นั่ง : {{bookingDetail.booking_seats}}</p>
      <p style="margin-left: 15px; font-weight: bold; font-size: 14px; color: #666;">ค่าธรรมเนียม : {{bookingDetail.booking_fee}} บาท</p>
      <p style="margin-left: 15px; font-weight: bold; font-size: 14px; color: #666;">ยอดชำระทั้งหมด : {{bookingDetail.booking_price}} บาท</p>
      <p style="margin-left: 15px; font-weight: bold; font-size: 14px; color: #666;">วันเวลาการจองรถตู้ : {{bookingDetail.booking_datetime}}</p>
      <p style="margin-left: 15px; font-weight: bold; font-size: 14px; color: #666;">ต้นทาง : {{originDistrict.AMPHUR_NAME}} {{originProvince.PROVINCE_NAME}}</p>
      <p style="margin-left: 15px; font-weight: bold; font-size: 14px; color: #666;">ปลายทาง : {{destinationDistrict.AMPHUR_NAME}} {{destinationProvince.PROVINCE_NAME}}</p>
      <p style="margin-left: 15px; font-weight: bold; font-size: 14px; color: #666;">คิวรถตู้ : {{bookingDetail.queue_name}}</p>
      <p style="margin-left: 15px; font-weight: bold; font-size: 14px; color: #666;" ng-if="bookingDetail.booking_get_in_type == 1">จุดขึ้นรถตู้ : ขึ้นที่คิวรถตู้</p>
      <p style="margin-left: 15px; font-weight: bold; font-size: 14px; color: #666;" ng-if="bookingDetail.booking_get_in_type == 2">จุดขึ้นรถตู้ : {{getInDetail.getin_name}}</p>
      <p style="margin-left: 15px; font-weight: bold; font-size: 14px; color: #666;" ng-if="bookingDetail.booking_get_in_type == 3">จุดขึ้นรถตู้ : {{bookingDetail.booking_get_in_place}}</p>
      <p style="margin-left: 15px; font-weight: bold; font-size: 14px; color: #666;">จุดลงรถตู้ : {{bookingDetail.point_name}}</p>
      <p style="margin-left: 15px; font-weight: bold; font-size: 14px; color: #666;">วันเวลาขึ้นรถตู้ : {{bookingDetail.booking_boarding_date}} {{bookingDetail.booking_boarding_time}}</p>
    </div>
    <div style="margin-top: 20px; margin-left: 10px; margin-right: 10px; border: 3px solid #3F51B5; border-radius: 5px;">
      <p style="margin-top: 15px; margin-left: 15px; font-weight: bold; font-size: 18px; color: #666; text-decoration: underline;">ข้อมูลผู้จองรถตู้</p>
      <p style="margin-left: 15px; font-weight: bold; font-size: 14px; color: #666;">ชื่อผู้จอง : {{bookingDetail.member_firstname}} {{bookingDetail.member_lastname}}</p>
      <p style="margin-left: 15px; font-weight: bold; font-size: 14px; color: #666;">เบอร์โทรศัพท์ : {{bookingDetail.member_phone}}</p>
      <p style="margin-left: 15px; font-weight: bold; font-size: 14px; color: #666;">อีเมล : {{bookingDetail.member_email}}</p>
    </div>
    <div style="margin-top: 20px; margin-left: 10px; margin-right: 10px; border: 3px solid #3F51B5; border-radius: 5px;" ng-if="bookingDetail.booking_van_id != 0">
      <p style="margin-top: 15px; margin-left: 15px; font-weight: bold; font-size: 18px; color: #666; text-decoration: underline;">ข้อมูลการเดินทาง</p>
      <p style="margin-left: 15px; font-weight: bold; font-size: 14px; color: #666;">เดินทางกับรถตู้หมายเลข : {{vanDetail.van_queue_no}}</p>
      <p style="margin-left: 15px; font-weight: bold; font-size: 14px; color: #666;">รถป้ายทะเบียน : {{vanDetail.van_plate_no}}</p>
      <p style="margin-left: 15px; font-weight: bold; font-size: 14px; color: #666;">ผู้ขับรถตู้ : {{vanDetail.member_firstname}} {{vanDetail.member_lastname}}</p>
      <p style="margin-left: 15px; font-weight: bold; font-size: 14px; color: #666;">เบอร์โทรศัพท์ : {{vanDetail.member_phone}}</p>
    </div>
  </ion-content>
</ion-view>
