<ion-view id="online-course" hide-nav-bar="false">
  <ion-nav-title>รายการจุดลงรถตู้</ion-nav-title>
  <ion-content id="online-course-content">
    <div style="text-align: center; margin-top: 20px; font-weight: bold; font-size: 16px; color: #666;" ng-if="ownPointArrayList == null">ไม่พบรายการจุดลงรถตู้</div>
    <div class="course-list" style="margin-top: 0px;">
      <div class="course-item" ng-repeat="ownPoint in ownPointArrayList">
        <div class="title ionic-course-background" style="background-color: #3F51B5 !important">
          จุดลงรถตู้ : {{ownPoint.point_name}}
        </div>
        <div class="content">
          <p style="margin-top: 10px; padding: 0px 10px 0px 10px;">ราคา : {{ownPoint.point_price}} บาท</p>
          <p style="padding: 5px 10px 0px 10px;">
            <a href="" class="md-raised md-button md-default-theme angular-course-background" style="background-color: #3F51B5 !important" ng-click="editPoint(ownPoint.point_id)">
              <i class="fas fa-edit"></i> แก้ไขจุดลงรถตู้
            </a>
            <a href="" class="md-raised md-button md-default-theme angular-course-background" style="background-color: #3F51B5 !important" ng-click="delPoint(ownPoint.point_id)">
              <i class="fas fa-trash"></i> ลบจุดลงรถตู้
            </a>
          </p>
        </div>
      </div>
    </div>
  </ion-content>
  <div class="footer-fab-bar">
    <a class="md-button md-accent md-fab fab-footer" aria-label="Add" ng-click="btnAddPoint()" style="background-color: #3F51B5 !important">
      <i class="icon ion-plus"></i>
    </a>
  </div>
</ion-view>
